<div >
  <mat-card>
    <mat-card-content>
        <h1>Material Design for Angular !</h1>
        <p>
          Discover the wonderful world that Angular Material offers
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="this.opened = !this.opened;" >
        <mat-icon >reorder</mat-icon>
      </button>
      <button mat-button >Home</button>
      <button mat-button >Component</button>
      <button mat-button >Profiles</button>
      <button mat-button >Api</button>
      <button mat-icon-button style="float: right"  >
          <mat-icon >info</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card><br>
  <mat-drawer-container  class="example-container">
      <mat-drawer  mode="side" opened="{{opened}}">
          <button mat-button >Home</button><br>
          <button mat-button >Component</button><br>
          <button mat-button >Profiles</button><br>
          <button mat-button >Api</button>            
      </mat-drawer>
      <mat-drawer-content style="height: 200px;">Main content</mat-drawer-content>
    </mat-drawer-container>
</div>

